footer{
    padding: 10px 20px;
    background: #666;
    color: white;
    text-align: center;
    }

h2{
    text-align: center;
}

.jumbotron{
    background-image:url("./images/city1.jpg");
     background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
  
 } 

 img{
    width: 500px;
    margin-bottom: 20px;
} 

h1{
    color: white;
    text-align: right;
}

button{
    margin-right: 5px;
}
h3{
    text-align: center;
}

#totalHere{
    position: absolute;
    left: 10px;
}